// index/dashboard page
//-----------------------------------------------------------------------------------

.container{
  position: relative;
  z-index: 2;
  @media (min-width: 1340px) {
    width: 1310px;
  }
}
.download-link{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 4px 4px;
  background-color: rgba(#333333, 0.8);
  position: fixed;
  z-index: 100;
  transform: rotate(-90deg) translateY(-50%);
  top: 50%;
  left: -109px;
  height: 61px;
  width: 340px;
  color: #ffffff;
  font-family: $ttBold;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  &:hover{
    text-decoration: none;
  }
  @media (max-width: 991px) {
    height: 30px;
    left: -140px;
  }
  @media (max-width: 767px) {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 140px;
    margin-left: 35px;
    height: 35px;
    text-align: center;
    font-size: 12px;
  }
}
.first{
  padding-top: 100px;
  background-color: #f7f8fa;
  position: relative;
  @media (max-width: 991px) {
    padding-top: 60px;
  }
}
.first-block{
  width: 600px;
  max-width: 100%;
  padding-top: 100px;
  @media (max-width: 991px){
    width: 100%;
    padding-top: 40px;
  }
}
.right-img-block{
  width: calc(50% - 30px);
  background: url(../img/first-img.jpg) center center no-repeat;
  background-size: cover;
  height: 767px;
  position: absolute;
  top: 100px;
  right: 0;
  box-shadow: -23px 19px 80px rgba(72, 71, 77, 0.1);
  border-radius: 20px 0 0 20px;
  overflow: hidden;
  @media (max-width: 991px) {
    display: none;
  }
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 420px;
    height: 100%;
    background-image: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 88%);
    opacity: 0.5;
  }
}
.page-name{
  color: #333333;
  font-family: $ttExtra;
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 20px;
  span{
    color: #1d88de;
  }
  @media (max-width: 767px) {
    font-size: 36px;
    line-height: 40px;
  }
}
.sub-name{
  color: #333333;
  font-family: $tt;
  font-size: 44px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 90px;
  @media (max-width: 767px){
    margin-bottom: 30px;
    font-size: 34px;
    line-height: 40px;
  }
}
.first-form-text{
  color: #333333;
  font-family: $tt;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 24px;
  margin-bottom: 25px;
  @media (max-width: 767px){
    padding-left: 0;
  }
  span{
    color: #1d88de;
    font-family: $ttMedium;
    font-weight: 500;
  }
}
.first-form{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 15px 26px 80px rgba(38, 38, 38, 0.1);
  margin-right: -105px;
  border-radius: 4px;
  margin-bottom: 101px;
  position: relative;
  @media (max-width: 991px) {
    margin-right: 0;
    box-shadow: none;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 40px;
  }
  &:before{
    content: '';
    position: absolute;
    background: url(../img/arrow.png) center center no-repeat;
    width: 73px;
    height: 96px;
    left: -58px;
    top: -59px;
    @media (max-width: 991px) {
      display: none;
    }
  }
}
.input{
  width: 270px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  color: #333333;
  font-family: $ttMedium;
  font-size: 18px;
  font-weight: 400;
  text-indent: 31px;
  box-sizing: border-box;
  -webkit-appearance: none;
  &::placeholder{
    color: #333333;
  }
  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 18px;
  }
}
.first-sbm{
  width: 439px;
  height: 60px;
  border-radius: 4px;
  background-color: #ea3127;
  margin-left: -5px;
  color: #ffffff;
  font-family: $ttBold;
  font-size: 16px;
  font-weight: 700;
  @media (max-width: 767px) {
    width: 100%;
  }
}
.first-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: -203px;
}
.first-row-item{
  width: 50%;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media (max-width: 767px){
    width: 100%;
    margin-bottom: 30px;
  }
}
.first-item-img-container{
  width: 60px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
}
.first-item-text{
  color: #333333;
  font-family: $tt;
  font-size: 16px;
  font-weight: 400;
}
.comfort{
  padding-top: 332px;
  padding-bottom: 40px;
  @media (max-width: 991px) {
    padding-top: 220px;
  } 
}
.comfort-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 991px){
    flex-direction: column-reverse;
  }
}
.comfort-img{
  margin-left: -62px;
  @media (max-width: 1229px) {
    margin-left: 0;
    width: 478px;
  }
}
.comfort-block{
  width: 457px;
  max-width: 100%;
  text-align: right;
  @media (max-width: 991px){
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    br{
      display: none;
    }
  }
}
.comform-name{
  color: #1d88de;
  font-family: $ttBold;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
  span{
    color: #ea3127;
  }
}
.comfort-text{
  color: #333333;
  font-family: $tt;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  span{
    font-family: $ttBold;
    font-weight: 700;
  }
}
.advantages{
  padding-top: 40px;
  padding-bottom: 35px;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width: calc(50% - 297px);
    height: calc(100% - 168px);
    left: 0;
    top: 133px;
    border-radius: 10px;
    background-color: #f7f8fa;
  }
  .comform-name{
    font-size: 58px;
    text-align: left;
    font-family: $ttExtra;
    font-weight: 900;
    margin-bottom: 60px;
    @media (max-width: 767px) {
      font-size: 34px;
      line-height: 38px;
      margin-bottom: 30px;
    }
  }
}
.advantages-img{
  width: calc(50% + 200px);
  height: 750px;
  background: url(../img/advantages-img.jpg) center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 88%);
  }
  @media (max-width: 991px) {
    display: none;
  }
}
.section-name{
  color: #333333;
  font-family: $ttBold;
  font-size: 58px;
  font-weight: 700;
  line-height: 58px;
  @media (max-width: 767px) {
    font-size: 34px;
    line-height: 38px;
  }
}
.advantages-row{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
.advantages-left{
  width: 525px;
  max-width: 100%;
  margin-left: 56px;
  @media (max-width: 767px) {
    margin-left: 0;
    width: 100%;
    margin-bottom: 30px;
  }
}
.advantages-left-row{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 25px;
  &:last-child{
    margin-bottom: 0;
  }
}
.advantages-img-container{
  width: 40px;
  height: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages-item-text-block{
  width: calc(100% - 80px);
  margin-top: 10px;
}
.advantages-item-name{
  color: #333333;
  font-family: $tt;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 9px;
  cursor: pointer;
  &:last-child{
    margin-bottom: 0;
  }
}
.advantages-item-text{
  color: #999999;
  font-family: $tt;
  font-size: 16px;
  font-weight: 400;
  display: none;
}
.advantages-right{
  margin-bottom: -90px;
  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}
.advantages-right-name{
  color: #333333;
  font-family: $ttBold;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.advantages-right-text{
  color: #333333;
  font-family: $ttMedium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-align: right;
  span{
    color: #999999;
  }
  @media (max-width: 767px){
    text-align: center;
  }
}
.use{
  padding-top: 50px;
  padding-bottom: 95px;
  @media (max-width: 991px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section-name{
    text-align: right;
    margin-bottom: 0;
    @media (max-width: 991px) {
      text-align: center;
      margin-bottom: 30px;
    }
    span{
      color: #1d88de;
      font-size: 48px;
      @media (max-width: 767px) {
        font-size: 34px;
        line-height: 38px;
      }
    }
  }
}
.use-slider{
  width: 100%;
  margin-bottom: 0 !important;
  .slick-prev{
    background: url(../img/arrow-left.png) center center no-repeat;
    width: 14px;
    height: 27px;
    left: 0;
    z-index: 2;
    &:before{
      display: none;
    }
    @media (max-width: 991px){
      display: none !important;
    }
  }
  .slick-next{
    background: url(../img/arrow-right.png) center center no-repeat;
    width: 14px;
    height: 27px;
    right: 0;
    z-index: 2;
    &:before{
      display: none;
    }
    @media (max-width: 991px){
      display: none !important;
    }
  }
  .slick-dots{
    position: absolute;
    right: 55px;
    bottom: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 767px){
      bottom: -25px;
      right: 0;
    }
    li{
      width: auto;
      height: auto;
      margin: 0 0 0 12px;
      &.slick-active{
        button{
          background-color: #1d88de;
        }
      }
      button{
        width: 12px;
        height: 12px;
        background-color: #e3e4e6;
        border-radius: 50%;
        transition: 0.3s;
        &:before{
          display: none;
        }
      }
    }
  }
}
.use-slider-row{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  @media (max-width: 991px) {
    flex-direction: column;
  }
}
.use-slider-left{
  width: 400px;
  height: 377px;
  box-shadow: -23px 19px 80px rgba(72, 71, 77, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: -50px;
  position: relative;
  @media (max-width: 991px) {
    height: auto;
    width: 100%;
    box-shadow: none;
  }
}
.use-slider-slide{
  margin: 50px 55px 55px;
  @media (max-width: 767px) {
    margin: 40px 0 0 0;
  }
}
.use-slider-right{
  width: calc(100% - 285px);
  padding-left: 170px;
  box-sizing: border-box;
  min-height: 357px;
  border-radius: 10px;
  background-color: #f7f8fa;
  margin-left: -115px;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-right: 60px;
  @media (max-width: 991px) {
    width: 100%;
    padding-top: 30px;
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
  }
}
.use-slider-name{
  color: #333333;
  font-family: $ttBold;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  span{
    color: #1d88de;
  }
}
.use-slider-text{
  color: #333333;
  font-family: $tt;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 26px;
  &:last-child{
    margin-bottom: 0;
  }
  span{
    font-family: $ttBold;
    font-weight: 700;
  }
}
.system{
  padding-bottom: 103px;
  @media (max-width: 991px) {
    padding-bottom: 40px;
  }
  .section-name{
    text-align: center;
    margin-bottom: 202px;
    @media (max-width: 767px) {
      margin-bottom: 150px;
    }
    span{
      color: #1d88de;
    }
  }
}
.system-row{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1170px;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  &:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 100%;
    height: 146px;
    border-radius: 10px;
    background-color: #f7f8fa;
  }
}
.system-item-text{
  color: #999999;
  font-family: $tt;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  span{
    color: #1d88de;
    font-weight: 500;
    font-family: $ttMedium;
  }
}
.system-item{
  width: 410px;
  position: relative;
  z-index: 2;
  @media (max-width: 767px) {
    width: 100%;
  }
  &.mod-right{
    .system-item-block{
      height: 248px;
    }
  }
  &.mod-left{
    margin-right: 110px;
    @media (max-width: 767px){
      margin-right: 0;
      margin-bottom: 150px;
    }
    .system-item-text{
      margin-bottom: 20px;
    }
  }
}
.system-item-block{
  width: 100%;
  height: 237px;
  box-shadow: -23px 19px 80px rgba(72, 71, 77, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 0 32px 32px;
}
.system-btn-left{
  width: 100%;
  height: 60px;
  border-radius: 4px;
  background-color: #ea3127;
  margin-top: 35px;
  color: #ffffff;
  font-family: $ttBold;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.system-btn-right{
  color: #ffffff;
  font-family: $ttBold;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  background-color: #1d88de;
}
.system-img-left{
  margin-top: -119px;
}
.system-img-right{
  margin-right: -30px;
  margin-left: 55px;
  margin-top: -170px;
  @media (max-width: 767px) {
    margin-right: 0;
    margin-left: 15px;
  }
}
.wifi{
  padding-top: 15px;
  margin-bottom: -60px;
  position: relative;
  .container{
    position: relative;
    z-index: 2;
  }
  .section-name{
    margin-bottom: 35px;
    font-size: 52px;
    @media (max-width: 767px) {
      font-size: 34px;
      line-height: 38px;
    }
    .red{
      color: #ea3127;
    }
    .blue{
      color: #1d88de;
    }
  }
}
.wifi-img{
  margin-left: 100px;
  @media (max-width: 991px){
    margin-left: 0;
  }
}
.wifi-row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media (max-width: 991px) {
    flex-direction: column-reverse;
  }
}
.wifi-right{
  width: 722px;
  margin-top: 110px;
  @media (max-width: 991px) {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.wifi-text{
  color: #666666;
  font-family: $tt;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 26px;
  span{
    font-weight: 700;
    font-family: $ttBold;
  }
  &:last-child{
    margin-bottom: 0;
  }
}
.wifi-bold-text{
  color: #333333;
  font-family: $ttBold;
  font-size: 20px;
  font-weight: 700;
}
.wifi-left-img-block{
  position: absolute;
  left: 0;
  top: 0;
  height: 664px;
  width: calc(50% - 215px);
  border-radius: 0 20px 20px 0;
  overflow: hidden;
  background: url(../img/wifi-img.jpg) center center no-repeat;
  background-size: cover;
  &:before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: calc(100% - 133px);
    background-image: linear-gradient(to left, #ffffff 0%, rgba(255, 255, 255, 0) 88%);
    opacity: 0.9;
  }
  @media (max-width: 991px) {
    display: none;
  }
}
.wifi-left-block{
  position: absolute;
  left: calc(50% - 215px);
  top: 185px;
  width: 221px;
  height: 385px;
  border-radius: 10px;
  background-color: #f7f8fa;
  @media (max-width: 991px) {
    display: none;
  }
}
.money{
  padding-top: 155px;
  padding-bottom: 150px;
  background: url(../img/money-bg.jpg) center bottom no-repeat;
  margin-top: 45px;
  .section-name{
    font-size: 52px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 0;
    margin-right: 80px;
    text-align: right;
    span{
      color: #1d88de;
    }
    @media (max-width: 991px){
      margin-right: 0;
      text-align: center;
    }
    @media (max-width: 767px) {
      font-size: 34px;
      line-height: 38px;
    }
  }
  @media (max-width: 991px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.money-row{
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 991px){
    flex-direction: column;
  }
}
.money-text-name{
  color: #333333;
  font-family: $ttBold;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
  @media (max-width: 991px){
    text-align: center;
  }
}
.money-text{
  color: #999999;
  font-family: $tt;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  span{
    color: #333333;
    font-family: $ttMedium;
    font-weight: 500;
  }
  @media (max-width: 991px){
    text-align: center;
  }
}
.why{
  padding-top: 95px;
  padding-bottom: 90px;
  overflow: hidden;
  position: relative;
  @media (max-width: 991px){
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section-name{
    font-size: 52px;
    margin-bottom: 140px;
    text-align: center;
    span{
      color: #1d88de;
    }
    @media (max-width: 767px) {
      font-size: 34px;
      line-height: 38px;
    }
    @media (max-width: 767px){
      margin-bottom: 40px;
    }
  }
  .container{
    position: relative;
    z-index: 2;
  }
}
.why-row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 45px;
  box-sizing: border-box;
  width: 1170px;
  max-width: 100%;
  height: 280px;
  margin: 0 auto 270px;
  border-radius: 10px;
  background-color: #f7f8fa;
  @media (max-width: 991px) {
    flex-direction: column;
    height: auto;
    background: transparent;
    margin-bottom: 30px;
  }
  @media (max-width: 767px) {
    padding: 0;
  }
}
.why-el{
  width: 525px;
  height: 397px;
  box-shadow: -23px 19px 80px rgba(72, 71, 77, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  max-width: 50%;
  box-sizing: border-box;
  padding: 30px 50px;
  margin-top: -87px;
  margin-bottom: -30px;
  @media (max-width: 991px){
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
    padding: 30px 15px;
    height: auto;
  }
}
.why-water{
  width: 525px;
  height: 397px;
  max-width: 50%;
  box-sizing: border-box;
  padding: 30px 50px;
  margin-top: -87px;
  margin-bottom: -30px;
  @media (max-width: 991px){
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    padding: 30px 15px;
    height: auto;
  }
}
.why-name{
  color: #333333;
  font-family: $ttMedium;
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 50px;
  @media (max-width: 767px) {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
.why-item-row{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 48px;
  &:last-child{
    margin-bottom: 0;
  }
  @media (max-width: 1229px) {
    margin-bottom: 25px;
  }
}
.why-item-img-block{
  width: 41px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}
.why-item-text{
  color: #333333;
  font-family: $tt;
  font-size: 18px;
  font-weight: 400;
  width: calc(100% - 66px);
}
.why-form{
  height: 264px;
  border-radius: 0 20px 20px 0;
  background-color: #f7f8fa;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 761px;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 10000px;
    background-color: #f7f8fa;
  }
  @media (max-width: 767px) {
    width: 100%;
    height: auto;
  }
}
.why-form-name{
  color: #333333;
  font-family: $ttMedium;
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
  margin-bottom: 15px;
  span{
    color: #1d88de;
    font-family: $ttBold;
    font-weight: 700;
  }
}
.why-form-row{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media (max-width: 767px) {
    flex-direction: column;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}
.why-img-block{
  width: calc(50% + 115px);
  height: 780px;
  box-shadow: -23px 19px 80px rgba(72, 71, 77, 0.1);
  border-radius: 20px 0 0 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: url(../img/why-img.jpg) center center no-repeat;
  @media (max-width: 991px) {
    display: none;
  }
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 767px;
    background-image: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 88%);
    opacity: 0.5;
  }
}
.remodal-overlay{
  background: rgba(#5289c1, 0.2);
}
.remodal-close{
  width: 18px;
  height: 18px;
  top: 20px;
  left: auto;
  right: 20px;
  background: url(../img/close.png) center center no-repeat;
  &:before{
    display: none;
  }
}
.modal-call{
  width: 602px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 50px 15px 60px;
  max-width: 100%;
  .first-sbm{
    width: 316px;
    height: 60px;
    border-radius: 4px;
    background-color: #ea3127;
    max-width: 100%;
    color: #ffffff;
    font-family: $ttBold;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .input{
    width: 316px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid #e3e4e6;
    background-color: #ffffff;
    margin-bottom: 18px;
  }
}
.modal-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-name{
  color: #333333;
  font-size: 32px;
  font-family: $ttMedium;
  font-weight: 500;
  margin-bottom: 35px;
  span{
    color: #1d88de;
    font-family: $ttBold;
    font-size: 28px;
  }
}
.modal-calc{
  width: 1230px;
  border-radius: 10px;
  max-width: 100%;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.calc-header{
  padding: 50px 15px 30px;
  border-bottom: 1px solid #e3e3e3;
  .modal-name{
    font-family: $ttBold;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0;
    @media (max-width: 767px) {
      font-size: 32px;
    }
    span{
      font-family: $ttBold;
      font-size: 38px;
      font-weight: 700;
      @media (max-width: 767px) {
        font-size: 32px;
      }
    }
  }
}
.calc-body{
  width: 100%;
  overflow: auto;
}
.calc-table{
  width: 100%;
}
.calc-table-thead-item{
  height: 79px;
  vertical-align: middle;
  text-align: left;
  color: #333333;
  font-family: $ttMedium;
  font-size: 18px;
  font-weight: 500;
  padding: 0 8px;
  &:first-child{
    text-align: center;
  }
  &:last-child{
    text-align: center;
  }
}
.calc-table-body-row{
  &:nth-child(2n+1){
    background-color: #f7f8fa;
  }
}
.calc-table-body-item{
  height: 70px;
  text-align: left;
  vertical-align: middle;
  padding: 0 8px;
  &:first-child{
    padding: 0;
  }
  &:last-child{
    text-align: center;
  }
}
.calc-table-body-item-row{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 33px;
  padding-right: 8px;
}
.remove-btn{
  width: 20px;
  height: 20px;
  background: url(../img/delete.png) center center no-repeat;
  margin-right: 22px;
}
.select{
  border-radius: 4px;
  border: 1px solid #e3e4e6;
  background-color: #ffffff;
  height: 50px;
  color: #333333;
  font-family: $tt;
  font-size: 16px;
  font-weight: 400;
}
.select-object{
  width: 129px;
}
.select-place{
  width: 159px;
}
.select-type{
  width: 149px;
}
.select-termo{
  width: 329px;
}
.input-square{
  text-align: center;
  width: 139px;
  height: 50px;
  text-indent: 0;
  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}
.calc-cost{
  color: #333333;
  font-family: $ttBold;
  font-size: 18px;
  font-weight: 700;
}
.modal-total-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 91px;
  padding: 0 33px;
  border-bottom: 1px solid #e3e3e3;
  @media (max-width: 767px) {
    padding: 0 15px;
    flex-direction: column;
    justify-content: space-around;
  }
}
.add-items{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.add-icon{
  width: 20px;
  height: 20px;
  background: url(../img/add.png) center center no-repeat;
  margin-right: 15px;
}
.add-text{
  color: #989898;
  font-family: $tt;
  font-size: 16px;
  font-weight: 400;
}
.calc-total{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.calc-total-label{
  color: #333333;
  font-family: $tt;
  font-size: 20px;
  font-weight: 400;
  margin-right: 30px;
}
.calc-total-cost{
  color: #3898e6;
  font-family: $ttBold;
  font-size: 26px;
  font-weight: 700;
}
.modal-email-row{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px;
  height: 89px;
  border-radius: 10px;
  @media (max-width: 767px){
    flex-direction: column;
    height: auto;
    padding: 15px;
  }
  .input{
    width: 313px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid #e3e4e6;
    background-color: #ffffff;
    margin-right: 16px;
    @media (max-width: 767px){
      margin-right: 0;
    }
  }
  .first-sbm{
    margin: 0;
    width: 173px;
    height: 60px;
    border-radius: 4px;
    background-color: #ea3127;
    font-family: $ttBold;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.modal-email-text{
  color: #333333;
  font-family: $ttMedium;
  font-size: 22px;
  font-weight: 500;
  margin-right: 18px;
  @media (max-width: 767px){
    margin-right: 0;
    margin-bottom: 18px;
  }
}
.modal-footer{
  height: 70px;
  background-color: #f9f8f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-footer-link{
  color: #666666;
  font-family: $tt;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px dashed #cfcfd1;
  @media (max-width: 767px) {
    font-size: 12px;
  }
}