$base64-png: "image/png;base64";
$base64-jpg: "image/jpeg;base64";
$base64-svg: "image/svg+xml;base64";

// font var
//-----------------------------------------------------------------------------------
$default-font: Arial, "Helvetica Neue", Helvetica, sans-serif;

// +font-face('font-icon', 'fonts/font-icon/font-icon', 'font-icon')

// +font-face('AvenirNextCyr-Regular', '../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular', 'AvenirNextCyr-Regular', normal)
// +font-face('AvenirNextCyr-Medium', '../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium', 'AvenirNextCyr-Medium', 500)
// +font-face('AvenirNextCyr-Demi', '../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi', 'AvenirNextCyr-Demi', 600)
// +font-face('AvenirNextCyr-Bold', '../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold', 'AvenirNextCyr-Bold', 700)
//
//
// $AvenirRegular: 'AvenirNextCyr-Regular', $default-font

@include font-face("TTNorms-Bold", "../fonts/TTNorms-Bold/TTNorms-Bold", "TTNorms-Bold", bold);
@include font-face("TTNorms-Light", "../fonts/TTNorms-Light/TTNorms-Light", "TTNorms-Light", 300);
@include font-face("TTNorms-Medium", "../fonts/TTNorms-Medium/TTNorms-Medium", "TTNorms-Medium", 500);
@include font-face("TTNorms-Regular", "../fonts/TTNorms-Regular/TTNorms-Regular", "TTNorms-Regular", normal);
@include font-face("TTNorms-ExtraBold", "../fonts/TTNorms-ExtraBold/TTNorms-ExtraBold", "TTNorms-ExtraBold", 900);

$ttBold: "TTNorms-Bold", $default-font;
$ttLight: "TTNorms-Light", $default-font;
$ttMedium: "TTNorms-Medium", $default-font;
$tt: "TTNorms-Regular", $default-font;
$ttExtra: "TTNorms-ExtraBold", $default-font;

// selection color
//-----------------------------------------------------------------------------------
$color-selection: dodgerblue;

// color var
//-----------------------------------------------------------------------------------
$color-link: dodgerblue;