<footer id="footer" class="wrapper footer">
  <div class="container">
    <div class="footer-row">
      <p class="footer-text">З 1994 року компанія Comfort Heat пройшла довгий шлях від Start-up'а до сучасної
          професійної інноватівной компанії. І тепер ми пропонуємо інтелектуальні системи
          опалення нашим нинішнім і майбутнім клієнтам.</p>
      <div class="header-right">
        <a href="tel:+380673065656" class="header-phone">+38 (067) <span>306 56 56</span></a>
        <button type="button" class="header-call" data-remodal-target="modal-call">Замовити зворотній дзвінок</button>
      </div>
      <a href="#" class="logo">
        <img class="logo-img" src="assets/img/logo.png" alt="">
      </a>
    </div>
  </div>
</footer>
