<header id="header" class="wrapper header">
  <a href="#" class="logo">
    <img class="logo-img" src="assets/img/logo.png" alt="">
  </a>
  <ul class="header-menu">
    <li class="header-menu-item">
      <a href="#main" class="header-menu-link scrollto active">Головна</a>
    </li>
    <li class="header-menu-item">
      <a href="#advantages" class="header-menu-link scrollto">Переваги Comfort Heat</a>
    </li>
    <li class="header-menu-item">
      <a href="#system" class="header-menu-link scrollto">Розрахунок вартості</a>
    </li>
    <li class="header-menu-item">
      <a href="#wifi" class="header-menu-link scrollto">Smart-опалення</a>
    </li>
    <li class="header-menu-item">
      <a href="#money" class="header-menu-link scrollto">Економія</a>
    </li>
    <li class="header-menu-item">
      <a href="#why" class="header-menu-link scrollto">Переваги електричного опалення</a>
    </li>
  </ul>
  <div class="header-right">
    <a href="tel:+380673065656" class="header-phone">+38 (067) <span>306 56 56</span></a>
    <button type="button" class="header-call" data-remodal-target="modal-call">Замовити зворотній дзвінок</button>
  </div>
  <button type="button" class="call-menu"></button>
  <div class="header-m-menu">
    <button type="button" class="close-menu"></button>
    <ul class="header-menu">
      <li class="header-menu-item">
        <a href="#main" class="header-menu-link scrollto active">Головна</a>
      </li>
      <li class="header-menu-item">
        <a href="#advantages" class="header-menu-link scrollto">Переваги Comfort Heat</a>
      </li>
      <li class="header-menu-item">
        <a href="#system" class="header-menu-link scrollto">Розрахунок вартості</a>
      </li>
      <li class="header-menu-item">
        <a href="#wifi" class="header-menu-link scrollto">Smart-опалення</a>
      </li>
      <li class="header-menu-item">
        <a href="#money" class="header-menu-link scrollto">Економія</a>
      </li>
      <li class="header-menu-item">
        <a href="#why" class="header-menu-link scrollto">Переваги електричного опалення</a>
      </li>
    </ul>
    <div class="header-right">
      <a href="tel:+380673065656" class="header-phone">+38 (067) <span>306 56 56</span></a>
      <button type="button" class="header-call">Замовити зворотній дзвінок</button>
    </div>
  </div>
</header>