<div class="remodal modal-call" id="modal-call" data-remodal-id="modal-call">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <form action="#" class="modal-form">
    <h2 class="modal-name">Ми зробимо для Вас<br>
        <span>безкоштовний розрахунок</span></h2>
    <input type="tel" class="input" placeholder="+38 (   )"  data-inputmask="'mask': '+38 (999) 999 99 99'">
    <button type="submit" class="first-sbm">Залишити номер телефону</button>
  </form>
</div>
<div class="remodal modal-calc" id="modal-calc" data-remodal-id="modal-calc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <form action="#">
    <div class="calc-header">
      <h2 class="modal-name"><span>Розрахунок вартості</span> системи опалення</h2>
    </div>
    <div class="calc-body">
      <table class="calc-table">
        <thead class="calc-table-thead">
          <tr class="calc-table-thead-row">
            <td class="calc-table-thead-item">Об’єкт:</td>
            <td class="calc-table-thead-item">Місце монтажу:</td>
            <td class="calc-table-thead-item">Тип обладняння:</td>
            <td class="calc-table-thead-item">Терморегулятор:</td>
            <td class="calc-table-thead-item">Площа<br>
                приміщенння, м2</td>
            <td class="calc-table-thead-item">Вартість</td>
          </tr>
        </thead>
        <tbody class="calc-table-body">
          <tr class="calc-table-body-row">
            <td class="calc-table-body-item">
              <div class="calc-table-body-item-row">
                <button type="button" class="js-remove-btn remove-btn"></button>
                <select name="object" class="select select-object">
                  <option value="Кухня">Кухня</option>
                  <option value="Зала">Зала</option>
                  <option value="Інше">Інше</option>
                </select>
              </div>
            </td>
            <td class="calc-table-body-item">
              <select name="place" class="select select-place">
                <option value="Під плитку">Під плитку</option>
                <option value="Під ламінат">Під ламінат</option>
                <option value="Під ковролін">Під ковролін</option>
                <option value="Під лінелеум">Під лінелеум</option>
                <option value="Під стяжку">Під стяжку</option>
              </select>
            </td>
            <td class="calc-table-body-item">
              <select name="type" class="select select-type">
                <option value="Мат 160">Мат 160</option>
                <option value="Мат 80">Мат 80</option>
                <option value="Кабель 18">Кабель 18</option>
              </select>
            </td>
            <td class="calc-table-body-item">
              <select name="termo" class="select select-termo">
                <option value="C101 - електронний терморегулятор">C101 - електронний терморегулятор</option>
                <option value="C501 - електронний терморегулятор">C501 - електронний терморегулятор</option>
                <option value="C511T терморегулятор з таймером">C511T терморегулятор з таймером</option>
                <option value="Comfort Eco - терморегулятор з таймером">Comfort Eco - терморегулятор з таймером</option>
                <option value="Comfort Touch - сенсорний терморегулятор">Comfort Touch - сенсорний терморегулятор</option>
                <option value="Comfort WiFi - терморегулятор">Comfort WiFi - терморегулятор</option>
              </select>
            </td>
            <td class="calc-table-body-item">
              <input type="text" class="input input-square">
            </td>
            <td class="calc-table-body-item">
              <p class="calc-cost">13 562 грн</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-total-row">
      <button type="button" class="js-add-items add-items">
        <span class="add-icon"></span>
        <span class="add-text">Додати ще</span>
      </button>
      <p class="calc-total">
        <span class="calc-total-label">Разом:</span>
        <span class="calc-total-cost">6 562 грн</span>
      </p>
    </div>
    <div class="modal-email-row">
      <p class="modal-email-text">Відправити розрахунок на Email:</p>
      <input type="email" class="input" placeholder="user@example.com">
      <button type="submit" class="first-sbm">Замовити</button>
    </div>
    <div class="modal-footer">
      <a href="#" class="modal-footer-link">Я не дуже розуміюсь, допоможіть мені в розрахунку</a>
    </div>
  </form>
</div>