<include src="../chunks/head.html"></include>
<body>
  <div id="page-wrapper" class="page-wrapper">
  <!-- Begin header -->
  <include src="../chunks/header.html"></include>
  <!-- End header -->
  <!-- Begin page body -->
  <div id="page-body" class="page-body js-index">
    <section class="first scrollspy" id="main">
      <div class="container">
        <div class="first-block">
          <h1 class="page-name"><span>Електрична</span>
              тепла підлога</h1>
          <p class="sub-name">для Вашого дому</p>
          <p class="first-form-text">Вкажіть Ваш номер телефону та отримайте <span>БЕЗКОШТОВНИЙ</span><br>
              прорахунок та виїзд спеціаліста на об'єкт протягом 2 днів</p>
          <form action="#" method="POST" class="first-form">
            <input type="tel" class="input" placeholder="+38 (   )"  data-inputmask="'mask': '+38 (999) 999 99 99'">
            <button type="submit" class="first-sbm">ОТРИМАТИ БЕЗКОШТОВНИЙ ПРОРАХУНОК</button>
          </form>
          <div class="first-row">
            <div class="first-row-item">
              <div class="first-item-img-container">
                <img class="first-item-img" src="assets/img/first-1.png" alt="">
              </div>
              <p class="first-item-text">Встановлення під ламінат,<br>
                  ліноліум, плитку, стяжку</p>
            </div>
            <div class="first-row-item">
                <div class="first-item-img-container">
                  <img class="first-item-img" src="assets/img/first-2.png" alt="">
                </div>
              <p class="first-item-text">Легкий монтаж<br>
                  за 1 день</p>
            </div>
            <div class="first-row-item">
                <div class="first-item-img-container">
                  <img class="first-item-img" src="assets/img/first-3.png" alt="">
                </div>
              <p class="first-item-text">Економія на<br>
                  електроенергії </p>
            </div>
            <div class="first-row-item">
                <div class="first-item-img-container">
                  <img class="first-item-img" src="assets/img/first-4.png" alt="">
                </div>
              <p class="first-item-text">Зроблено<br>
                  в Німеччині</p>
            </div>
          </div>
        </div>
      </div>
      <div class="right-img-block"></div>
    </section>
    <section class="comfort">
      <div class="container">
        <div class="comfort-row">
          <img class="comfort-img" src="assets/img/comfort-img.png" alt="">
          <div class="comfort-block">
            <h2 class="comform-name">Comfort <span>Heat</span></h2>
            <p class="comfort-text">Cвітовий інноваційний виробник електричних<br>
                нагрівальних кабелів, матів та систем управління.<br>
                <span>Вже більше 24 років</span> в Європі надає доступний<br>
                комфорт та розумні рішення для систем опалення</p>
          </div>
        </div>
      </div>
    </section>
    <section class="advantages scrollspy" id="advantages">
      <div class="container">
        <h2 class="section-name">Переваги встановлення</h2>
        <h2 class="comform-name">Comfort <span>Heat</span></h2>
        <div class="advantages-row">
          <div class="advantages-left">
            <div class="advantages-left-row">
              <div class="advantages-img-container">
                <img class="advantages-item-img" src="assets/img/advantage-1.png" alt="">
              </div>
              <div class="advantages-item-text-block">
                <h3 class="advantages-item-name">SMART-рішення</h3>
                <p class="advantages-item-text">Comfort Heat забезпечує новинки та інновації: простий та розумний мобільний Wi-Fi додаток, що легко адаптується та інтегрується з іншими системами та не потребує технічного обслуговування.</p>
              </div>
            </div>
            <div class="advantages-left-row">
              <div class="advantages-img-container">
                <img class="advantages-item-img" src="assets/img/advantage-2.png" alt="">
              </div>
              <div class="advantages-item-text-block">
                <h3 class="advantages-item-name">Простота встановлення</h3>
                <p class="advantages-item-text">Система теплої підлоги Comfort Heat створена за принципом "зроби сам"</p>
              </div>
            </div>
            <div class="advantages-left-row">
              <div class="advantages-img-container">
                <img class="advantages-item-img" src="assets/img/advantage-3.png" alt="">
              </div>
              <div class="advantages-item-text-block">
                <h3 class="advantages-item-name">Повна технічна підтримка 24/7</h3>
                <p class="advantages-item-text">Comfort Heat пропонує Вам повну технічну підтримку та оптимальні рішення для підбору систем опалення, полегшуючи умови роботи та підвищуючи якість обслуговування.</p>
              </div>
            </div>
            <div class="advantages-left-row">
              <div class="advantages-img-container">
                <img class="advantages-item-img" src="assets/img/advantage-4.png" alt="">
              </div>
              <div class="advantages-item-text-block">
                <h3 class="advantages-item-name">Надійне опалення</h3>
                <p class="advantages-item-text">Ми поставляємо тільки високоякісні продукти з гарантією, професійне обслуговування і консультування клієнта з найкращими рішеннями технічних завдань.</p>
              </div>
            </div>
            <div class="advantages-left-row">
              <div class="advantages-img-container">
                <img class="advantages-item-img" src="assets/img/advantage-5.png" alt="">
              </div>
              <div class="advantages-item-text-block">
                <h3 class="advantages-item-name">Широкий асортимент</h3>
                <p class="advantages-item-text">Comfort Heat - це широкий спектр продуктів, які підбираються та пристосовуються до індивідуальних потреб клієнта.</p>
              </div>
            </div>
            <div class="advantages-left-row">
              <div class="advantages-img-container">
                <img class="advantages-item-img" src="assets/img/advantage-6.png" alt="">
              </div>
              <div class="advantages-item-text-block">
                <h3 class="advantages-item-name">Зроблено в Німеччині</h3>
                <p class="advantages-item-text">Заводи по виробництву нагрівальних кабелів та матів розташовані в Німеччині (м. Ассамштадт та Бурбах).</p>
              </div>
            </div>
          </div>
          <div class="advantages-right">
            <img class="advantages-twenty" src="assets/img/20.png" alt="">
            <h3 class="advantages-right-name">років гарантії</h3>
            <p class="advantages-right-text">Всі продукти Comfort Heat<br>
                поставляються з 20-річною<br>
                гарантією<span>, яка підтверджує<br>
                    надійність та комфорт<br>
                    для користувача</span></p>
          </div>
        </div>
      </div>
      <div class="advantages-img"></div>
    </section>
    <section class="use">
      <div class="container">
        <h2 class="section-name">При монтажі підлоги<br>
            <span>ми використовуємо</span></h2>
        <div class="use-slider">
          <div class="use-slider-slide">
            <div class="use-slider-row">
              <div class="use-slider-left">
                <img class="use-slider-img" src="assets/img/use-1.png" alt="">
              </div>
              <div class="use-slider-right">
                <h3 class="use-slider-name"><span>CTAV-18</span> - Двужильний нагрівальний кабель</h3>
                <p class="use-slider-text">Виключно тонкий нагрівальний кабель (з функцією пам'яті) застосовується в тонких
                    бетонних конструкціях звичних підлог, при реконструкції старих підлог (для основного,
                    додаткового і акумуляційного опалювання), для обігріву холодних зон і вітринних вікон.</p>
                <p class="use-slider-text"><span>Установка:</span> Монтується безпосередньо на бетон або на поверхню старої плитки на кухні,
                    в коридорі та інших приміщеннях під будь-яке покриття підлоги: плитку, мармур, граніт,
                    паркет, ламінат, паркетну дошку чи килимове покриття.</p>
              </div>
            </div>
          </div>
          <div class="use-slider-slide">
            <div class="use-slider-row">
              <div class="use-slider-left">
                <img class="use-slider-img" src="assets/img/use-1.png" alt="">
              </div>
              <div class="use-slider-right">
                <h3 class="use-slider-name"><span>CTAV-18</span> - Двужильний нагрівальний кабель</h3>
                <p class="use-slider-text">Виключно тонкий нагрівальний кабель (з функцією пам'яті) застосовується в тонких
                    бетонних конструкціях звичних підлог, при реконструкції старих підлог (для основного,
                    додаткового і акумуляційного опалювання), для обігріву холодних зон і вітринних вікон.</p>
                <p class="use-slider-text"><span>Установка:</span> Монтується безпосередньо на бетон або на поверхню старої плитки на кухні,
                    в коридорі та інших приміщеннях під будь-яке покриття підлоги: плитку, мармур, граніт,
                    паркет, ламінат, паркетну дошку чи килимове покриття.</p>
              </div>
            </div>
          </div>
          <div class="use-slider-slide">
            <div class="use-slider-row">
              <div class="use-slider-left">
                <img class="use-slider-img" src="assets/img/use-1.png" alt="">
              </div>
              <div class="use-slider-right">
                <h3 class="use-slider-name"><span>CTAV-18</span> - Двужильний нагрівальний кабель</h3>
                <p class="use-slider-text">Виключно тонкий нагрівальний кабель (з функцією пам'яті) застосовується в тонких
                    бетонних конструкціях звичних підлог, при реконструкції старих підлог (для основного,
                    додаткового і акумуляційного опалювання), для обігріву холодних зон і вітринних вікон.</p>
                <p class="use-slider-text"><span>Установка:</span> Монтується безпосередньо на бетон або на поверхню старої плитки на кухні,
                    в коридорі та інших приміщеннях під будь-яке покриття підлоги: плитку, мармур, граніт,
                    паркет, ламінат, паркетну дошку чи килимове покриття.</p>
              </div>
            </div>
          </div>
          <div class="use-slider-slide">
            <div class="use-slider-row">
              <div class="use-slider-left">
                <img class="use-slider-img" src="assets/img/use-1.png" alt="">
              </div>
              <div class="use-slider-right">
                <h3 class="use-slider-name"><span>CTAV-18</span> - Двужильний нагрівальний кабель</h3>
                <p class="use-slider-text">Виключно тонкий нагрівальний кабель (з функцією пам'яті) застосовується в тонких
                    бетонних конструкціях звичних підлог, при реконструкції старих підлог (для основного,
                    додаткового і акумуляційного опалювання), для обігріву холодних зон і вітринних вікон.</p>
                <p class="use-slider-text"><span>Установка:</span> Монтується безпосередньо на бетон або на поверхню старої плитки на кухні,
                    в коридорі та інших приміщеннях під будь-яке покриття підлоги: плитку, мармур, граніт,
                    паркет, ламінат, паркетну дошку чи килимове покриття.</p>
              </div>
            </div>
          </div>
          <div class="use-slider-slide">
            <div class="use-slider-row">
              <div class="use-slider-left">
                <img class="use-slider-img" src="assets/img/use-1.png" alt="">
              </div>
              <div class="use-slider-right">
                <h3 class="use-slider-name"><span>CTAV-18</span> - Двужильний нагрівальний кабель</h3>
                <p class="use-slider-text">Виключно тонкий нагрівальний кабель (з функцією пам'яті) застосовується в тонких
                    бетонних конструкціях звичних підлог, при реконструкції старих підлог (для основного,
                    додаткового і акумуляційного опалювання), для обігріву холодних зон і вітринних вікон.</p>
                <p class="use-slider-text"><span>Установка:</span> Монтується безпосередньо на бетон або на поверхню старої плитки на кухні,
                    в коридорі та інших приміщеннях під будь-яке покриття підлоги: плитку, мармур, граніт,
                    паркет, ламінат, паркетну дошку чи килимове покриття.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="system scrollspy" id="system">
      <div class="container">
        <h2 class="section-name"><span>Розрахунок вартості</span> системи опалення</h2>
        <div class="system-row">
          <div class="system-item mod-left">
            <div class="system-item-block">
              <img class="system-img-left" src="assets/img/system-1.png" alt="">
              <button type="button" class="system-btn-left" data-remodal-target="modal-calc">Детальний прорахунок онлайн</button>
            </div>
            <p class="system-item-text">Для фахівців</p>
          </div>
          <div class="system-item mod-right">
            <div class="system-item-block">
              <img class="system-img-right" src="assets/img/system-2.png" alt="">
              <button type="button" class="system-btn-right" data-remodal-target="modal-call">Простий прорахунок</button>
            </div>
            <p class="system-item-text">Відправте заявку, та наш менеджер<br>
                складе кошторис <span>БЕЗКОШТОВНО</span></p>
          </div>
        </div>
      </div>
    </section>
    <section class="wifi scrollspy" id="wifi">
      <div class="wifi-left-img-block"></div>
      <div class="wifi-left-block"></div> 
      <div class="container">
        <div class="wifi-row">
          <img class="wifi-img" src="assets/img/wifi-1.png" alt="">
          <div class="wifi-right">
            <h2 class="section-name"><span class="blue">Comfort</span> <span class="red">WiFi</span> - Керуй теплом
              з будь-якої точки світу</h2>
            <p class="wifi-text">Нові Smart системи від Comfort Heat дають можливість дистанційно керувати обігрівом
              у будинку, квартирі, офісі через інтернет Вашого смартфона або планшета.</p>
            <p class="wifi-text">Простий та інтуїтивний додаток, інформативний кольоровий сенсорний дисплей
              з багатомовним інтерфейсом робить процес налаштувань простим та зрозумілим</p>
            <p class="wifi-text"><span>Comfort WiFi</span> - на сьогодні одна з кращих моделей у категорії електронних
              терморегуляторів, що дозволяє створити бездоганний комфорт та дуже точне
              управління температурою.</p>
            <p class="wifi-bold-text">Використовуйте всі переваги інтелектуального опалення!</p>
          </div>
        </div>
      </div>
    </section>
    <section class="money scrollspy" id="money">
      <div class="container">
        <div class="money-row">
          <h2 class="section-name"><span>Тепло та комфорт</span><br>
              за розумні гроші</h2>
          <img class="money-img" src="assets/img/money-img.png" alt="">
          <div class="money-text-block">
            <h3 class="money-text-name">Знижки</h3>
            <p class="money-text">Від ОБЛЕНЕРГО<br>
                на електроенергію у зимовий<br>
                період: <span>з 15 жовтня до 15 квітня</span></p>
          </div>
        </div>
      </div>
    </section>
    <section class="why scrollspy" id="why">
      <div class="why-img-block"></div>
      <div class="container">
        <h2 class="section-name"><span>Чому варто обрати</span> електричну теплу підлогу?</h2>
        <div class="why-row">
          <div class="why-el">
            <h3 class="why-name">ЕЛЕКТРИЧНА</h3>
            <div class="why-item-row">
              <div class="why-item-img-block">
                <img class="why-item-img" src="assets/img/check.png" alt="">
              </div>
              <p class="why-item-text">Легкість монтажу, в 5 раз дешевше
                  встановлення</p>
            </div>
            <div class="why-item-row">
              <div class="why-item-img-block">
                <img class="why-item-img" src="assets/img/check.png" alt="">
              </div>
              <p class="why-item-text">Можливість встановлення при
                  центральному опаленні</p>
            </div>
            <div class="why-item-row">
              <div class="why-item-img-block">
                <img class="why-item-img" src="assets/img/check.png" alt="">
              </div>
              <p class="why-item-text">Використання  в будинках, де необхідність
                  опалення виникає періодично</p>
            </div>
          </div>
          <div class="why-water">
            <h3 class="why-name">ВОДЯНА</h3>
            <div class="why-item-row">
              <div class="why-item-img-block">
                <img class="why-item-img" src="assets/img/stop.png" alt="">
              </div>
              <p class="why-item-text">Повний демонтаж підлогового покриття,
                  а це додаткові витрати на  ремонт</p>
            </div>
            <div class="why-item-row">
              <div class="why-item-img-block">
                <img class="why-item-img" src="assets/img/stop.png" alt="">
              </div>
              <p class="why-item-text">Неможливість встановлення
                  при центральному опаленні</p>
            </div>
            <div class="why-item-row">
              <div class="why-item-img-block">
                <img class="why-item-img" src="assets/img/stop.png" alt="">
              </div>
              <p class="why-item-text">Імовірність замерзання, протікання
                  та складність його усунення</p>
            </div>
          </div>
        </div>
        <form action="#" class="why-form">
          <h3 class="why-form-name">Я хочу замовити <span>БЕЗКОШТОВНИЙ</span> прорахунок<br>
              та виїзд спеціаліста на об'єкт протягом 2 днів</h3>
          <div class="why-form-row">
            <input type="tel" class="input" placeholder="+38 (   )"  data-inputmask="'mask': '+38 (999) 999 99 99'">
            <button type="submit" class="first-sbm">ОТРИМАТИ БЕЗКОШТОВНИЙ ПРОРАХУНОК</button>
          </div>
        </form>
      </div>
    </section>
    <a href="#" class="download-link">Скачати прайс та каталог</a>
  </div> 
  <!-- End page body -->
  <!-- Begin footer -->
  <include src="../chunks/footer.html"></include>
  <!-- End footer -->
  <!-- Begin modals -->
  <include src="../chunks/modals.html"></include>
  <!-- End modals -->
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>
