// footer
//-----------------------------------------------------------------------------------

.footer{
  padding-top: 50px;
  padding-bottom: 30px;
  .header-right{
    margin-right: 115px;
    @media (max-width: 1229px){
      width: 240px;
      margin-right: 65px;
      display: flex;
    }
    @media (max-width: 991px){
      margin-right: 30px;
    }
    @media (max-width: 767px){
      margin-right: 0;
      margin-top: 20px;
      align-items: center;
    }
  }
}
.footer-row{
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }
}
.footer-text{
  max-width: 100%;
  width: 606px;
  color: #333333;
  font-family: $tt;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-right: 135px;
  @media (max-width: 1229px) {
    margin-right: 30px;
    width: 510px;
  }
  @media (max-width: 991px) {
    width: 470px;
  }
  @media (max-width: 767px){
    margin-right: 0;
    margin-top: 20px;
  }
}