// header
//-----------------------------------------------------------------------------------

.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 28px 0 34px;
  z-index: 100;
  background-color: #f7f8fa;
  @media (max-width: 1290px) {
    padding: 0 15px;
  }
  @media (max-width: 991px) {
    height: 60px;
  }
}
.logo-img{
  width: 163px;
  @media (max-width: 1355px) {
    width: 100px;
  }
}
.header-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -28px;
  @media (max-width: 1665px) {
    margin: 0 -10px;
  }
  @media (max-width: 1229px) {
    display: none;
  }
  &-item{
    margin: 0 28px;
    @media (max-width: 1665px) {
      margin: 0 10px;
    }
  }
  &-link{
    display: flex;
    height: 100px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #333333;
    font-family: $ttMedium;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s;
    @media (max-width: 1470px) {
      font-size: 12px;
    }
    &:hover{
      text-decoration: none;
      color: #1f76bc;
    }
    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 8px;
      background-color: #3898e6;
      left: 0;
      top: 0;
      opacity: 0;
    }
    &.active{
      &:before{
        opacity: 1;
      }
    }
  }
}
.header-phone{
  color: #333;
  font-family: $ttBold;
  font-size: 22px;
  font-weight: 700;
  &:hover{
    text-decoration: none;
  }
  span{
    color: #1d88de;
  }
  @media (max-width: 1229px) {
    font-size: 20px;
  }
}
.header-call{
  color: #929292;
  font-family: $ttLight;
  font-size: 14px;
  font-weight: 300;
  margin-top: 7px;
  border-bottom: 1px dashed #929292;
}
.header-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  @media (max-width: 1229px){
    display: none;
  }
}
.call-menu{
  display: none;
  @media (max-width: 1229px){
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/svg/menu-button.svg) center center no-repeat;
    background-size: 100%;
  }
}
.close-menu{
  display: none;
  @media (max-width: 1229px){
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/svg/close-button.svg) center center no-repeat;
    background-size: 100%;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.header-m-menu{
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f7f8fa;
  width: 300px;
  z-index: 101;
  box-sizing: border-box;
  padding: 15px;
  overflow: auto;
  height: 100vh;
  transition: 0.3s;
  transform: translateX(100%);
  &.active{
    transform: translateX(0);
  }
  .header-menu{
    @media (max-width: 1229px) {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }
  }
  .header-menu-link{
    height: 40px;
    &:before{
      display: none;
    }
  }
  .header-right{
    @media (max-width: 1229px) {
      display: flex;
      align-items: center;
    }
  }
}